server:
  port: 10099

swagger:
  enable: true


spring:
  aop:
    proxy-target-class: true
    auto: true
  datasource:
    druid:
      db1:
        url: jdbc:mysql://127.0.0.1:3306/mybatis_plus_db1?useUnicode=true&characterEncoding=utf8&useSSL=false&serverTimezone=GMT%2B8&allowMultiQueries=true&useAffectedRows=true&autoReconnect=true&autoReconnectForPools=true
        username: root
        password: 123456
        driver-class-name: com.mysql.cj.jdbc.Driver
        initialSize: 5
        minIdle: 5
        maxActive: 20
      db2:
        url: jdbc:mysql://127.0.0.1:3306/mybatis_plus_db2?useUnicode=true&characterEncoding=utf8&useSSL=false&serverTimezone=GMT%2B8&allowMultiQueries=true&useAffectedRows=true&autoReconnect=true&autoReconnectForPools=true
        username: root
        password: 123456
        driver-class-name: com.mysql.cj.jdbc.Driver
        initialSize: 5
        minIdle: 5
        maxActive: 20

mybatis-plus:
  mapper-locations: classpath*:/mapper/**.xml
  type-aliases-package: com.example.testmybatisplus.entity
  configuration:
    map-underscore-to-camel-case: true